# Linear Regression

In [24]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [17]:
s = pd.read_csv("D:\Data Science\datasets\Other datasets\StudentsPerformance.csv")
s.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [18]:
s.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [19]:
s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

- Features - reading score, writing score
- Target Variable - math score

In [31]:
X = s[['reading score', 'writing score']]
y = s['math score']

### Divide the dataset among training and testing data in a 80:20

In [32]:
sp_X_train, sp_X_test, sp_y_train, sp_y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

In [33]:
#Create linear regression object
regr = linear_model.LinearRegression()

#Train the model using the training sets
regr.fit(sp_X_train, sp_y_train)

#Make predictions using testing set
sp_y_pred = regr.predict(sp_X_test)

In [34]:
#Coefficients
print("Coefficients: \n",regr.coef_)
print("\n")
#Intercept
print("Intercept:\n", regr.intercept_)
print("\n")
#Mean Squared Error
print("Mean Squared Error: %.2f" % mean_squared_error(sp_y_test, sp_y_pred))
print("\n")
#Coefficient of determination: 1 is perfect prediction
print("Coefficient of Determination: %.2f" % r2_score(sp_y_test, sp_y_pred))

Coefficients:
 [0.57555997 0.27176146]


Intercept:
 7.85940588782988


Mean Squared Error: 77.24


Coefficient of Determination: 0.68